h2 {
    text-align: center;
    color: #333;
}

.login-box {
    /* width: 300px; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    max-width: 300px;
    margin: 5vh auto;
    padding: 20px;
    background-color: #f9f9f9;
}
.signup-box {
    max-width: 600px;
    margin: 5vh auto;
    padding: 20px;
    background-color: #f9f9f9;
    /* position: absolute;
    transform: translate(-50%, -50%); */
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}


/* Verify errors */
input.invalid {
    border: 2px solid #e74c3c;
    box-shadow: 0 0 5px #e74c3c;
}
/* input.valid {
    border: 2px solid #2ecc71;
    box-shadow: 0 0 5px #2ecc71;
} */
.verify-error {
    display: none;
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 2px;
    transition: opacity 0.2s;
}
input:disabled {
    background: #eee;
    cursor: not-allowed;
}
/* .verify-error {
    color: red;
    margin: 8px 0;
    border: none;
}
#strength-error {
    display: none;
}
#match-error {
    display: none;
} */